        .done {
            text-decoration: line-through;
        }
        #div1{
            width: 100px;
            height: 100px;
            background-color: blue;
        }
        #div2{
            width: 100px;
            height: 100px;
            background-color: yellow;
        }
        #div3{
            width: 100px;
            height: 100px;
            background-color: green;
        }
        #div4{
            width: 100px;
            height: 100px;
            background-color: skyblue;
        }
